:root
{
    /*Colors*/
    --primary-color: #8A30F9;
    --color-letter-primary: black;
    --card-color: white;
    --card-letter-color:black;
    --hover-addTask:#8A30F9 9780;
    --input-task: #8A30F9;
    --background-inputs-task-color-one:#f1875d86;
    --background-inputs-task-color-two:#f99b767b;
    --placeholder-input-task: #fecdba;

    /*Font Family*/
    --font-family-primary: "Inter", sans-serif;



}
*{
    padding: 0%;
    margin: 0%;
    
}
  
  body {
    font-family: var(--font-family-primary);
    font-optical-sizing:auto;
    font-weight: 300; 
    font-style: normal;
  }